<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Solicitud para cambiar tu contraseña!</title>
</head>
<body>
<h1>
  Hola <b th:text="${object.username}"></b>
</h1>
<h3>En este email recibiras el codigo para cambiar tu contraseña</h3>

<p>

  <div>
    Codigo:
    <b th:text="${object.body}"></b>
  </div>
</p>

<h4>No responder este email</h4>

<footer>
  <div>
        <span>Derechos reservados © 2023
            <a href="https://www.linkedin.com/in/tabassonahuel/" target="_blank">Nahuel Tabasso</a>.</span>
  </div>
</footer>
</body>
</html>